
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(227, 97, 97, 0.3);
    
}
    /*css menu*/

    nav li {
        display: inline-block;    
        margin: 0 8px;
        line-height: 40px;
    }
    nav {
        height: 100px;
        width: 100%;
        background: #fff1dc;
    }
    .img_menu {
        height: 100px;
        width: 120px;
        margin-left: 0px;
        float: left;
    }
    nav ul li a {
        color: #e47474;
        font-size: 18px;
        border: 1px solid transparent;
        text-transform: uppercase;
        padding: 6px 10px;
        border-radius: 3px;
           
    }
    nav ul li a:hover {
        background-color: #d9d9d9;
    }
     
    ul {
        text-align:right;
    }


    /*css form*/



.container{
    width: 40%;
    height: 70vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background-color: #fff1dc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    
}
.form{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 4rem;
    position:static;
    
}
.form-header{
    display:flex;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #e47474;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}
.input-box label,
.gender-title h6,
h6 {
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
} 

.input-box input,
textarea{
    margin: 0.2rem 0;
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover,
textarea:hover{
    background-color: #eeeeee75;

}
textarea{
    border-radius: 8px;
}
.gender-group{
    display:flex;
    justify-content: space-between;
    margin-top: 0,62rem;
    padding: 0.3rem;
}
.gender-input{
    display: flex;
    align-items: center;
}
.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.submit button{
    width: 100%;
    margin-top: 0.3rem;
    border: none;
    background-color: #e47474;
    padding: 0.62rem;
    cursor: pointer;
    border-radius: 8px;
}
.submit button:hover{
    background-color: #eeeeee75;
}
.submit button a{
text-decoration: none;
font-size: 0.93rem;
font-weight: 500;
color: black;
}
@media screen and (max-width: 800px){
    .container{ 
        width:50%;
    }
    .form{ 
        width:100%
    }
}
@media screen and (max-width: 1300px)

{
    .container{
        width: 50%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 4rem;    
    }
}
/*css footer*/

.rodape_logo {
    width: 90px;
    margin: 15px;
}
 
.rodape {
    background-color: #d9d9d9;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100px;
}
 
.rodape_h1 {
    font-family: 'Dancing Script', cursiva;
    color: #e47474;
    font-size: smaller;
    margin-left: 10px;
    margin-top: 0%;
}
 
.rodape_h2 {
    font-size: smaller;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
 
.face_logo {
    width: 20px;
    margin-left: 10px;
}
 
.insta_logo {
    width: 30px;
}
 
.wpp_logo{
    width: 25px;
}
 
.bandeiras{
    height: 60px;
    width: 160px;
    margin-left: 10px;
}
 
.sec_rod{
    border: 1px solid;
    width: 33.33%;
}